@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Krub');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import 'materialize';

* {
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #f5f5f5;
    position: absolute;

}


label#logo {
    cursor: default;
    margin-top: 50px;
    font-family: 'Indie Flower', cursive;
    font-size: 32pt;
    color: rgb(14, 240, 191)

}
div#item1 {
    text-decoration: none;
    margin-top: 80px;
    cursor: default;
    background-image: linear-gradient(to right, transparent, rgb(26, 151, 201, 0.384));
    margin-left: 50px;
    font-family: 'Comfortaa', cursive;
    padding-left: 16px;
    font-size: 12pt;
    color: white;
    padding: 18px;



}
div#item1b {
    text-decoration: none;
    margin-top: 80px;
    cursor: default;
    

    font-family: 'Comfortaa', cursive;
    padding-left: 16px;
    font-size: 12pt;
    color: white;
    padding: 18px;
    transition: all .5s;
}
div#item2, div#item3 {
    text-decoration: none;
    font-size: 12pt;
    text-indent: 5px;
    color: white;
    padding: 18px;
    margin-top: 5px;
    padding-left: 16px;

    transition: all .5s;

        font-family: 'Comfortaa', cursive;


}
div#item2 {
    background-image: none;
}
div#item2:hover, div#item3:hover, div#item1b:hover{

    background-image: linear-gradient(to right, transparent , rgba(26, 151, 201, 0.384));
    margin-left: 50px;
    cursor: pointer;

}
#a2, #a3 {
    text-decoration: none;
    color: white;

    padding-top: 13px;
    padding-bottom: 40px;
    padding-right: 125px;
}
#a1:focus, #a2:focus, #a3:focus{
    outline-style: none;
}
#a3 {
    padding-right: 66px;
}
section#materias {
    background-color: #0079CC;
  
    padding-bottom: 120px;
    padding-left: 10px;
    margin-right: 80px;
    padding-right: 10px;
    width: 100vw;
    margin-top: 1px;
}
section#materias span {
    position: fixed;
    margin-top: 280px;
    width: 100%;
    left: 0px;
    font-size: 23pt;
    color: white
}

section#materias li{



    padding: 30px;


    width: 290px;
    height: 290px;
    border-radius: 100%;
    font-family: 'Roboto', sans-serif;
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    

    
    transition: all .7s;



   
     background-repeat: no-repeat;
background-size: 100%;
}

#m1 {
    background-image: url(icons/p.png);

}
#m2 {
    background-image: url(icons/library.png);

}
#m3 {
    background-image: url(icons/essay.png);

}
#m4 {
    background-image: url(icons/formula.png);
}
#m5 {
    background-image: url(icons/atom.png);
}
#m6 {
    background-image: url(icons/chemistry.png);
}
#m7 {
    background-image: url(icons/bacteria.png);
}
#m8 {
    background-image: url(icons/sociology.png);
}
#m9 {
    background-image: url(icons/yin-yang-symbol.png);
    background-color:white;
}
#m10 {    background-image: url(icons/history.png);
}
#m11 {
    background-image: url(icons/worldwide.png);
}
#m12 {
    background-image: url(icons/english.png);
    text-indent: 0px;
}
#m13 {
    background-image: url(icons/spanish.png);

}
#m14 {
    background-image: url(icons/tree.png);

}
#m15 {
    background-image: url(icons/gymnast.png);

}
#m16 {
    background-image: url(icons/art.png);

}



section#materias li:hover {
    opacity: 1;


    filter: grayscale(0%);
    /*box-shadow: inset 0 0 0 10px rgb(3, 124, 118);*/
}

section.interface {

    position: inherit;
   
    height: 100vh;

width: 100vw;






}
section#materias h1{
    font-size: 47pt;
    position: relative;
    padding-top: 90px;
    color: white;
    font-family: 'Ubuntu';
    font-weight: 600;
    margin-top: 0px;
}
/*ANIMAÇÃO NO CIRCULO DE MATÉRIAS TIPO: 1*/

.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
    top: -32px;
    right: -32px;
    bottom: -32px;
    left: -32px;
  }
.hvr-outline-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
  }
  .hvr-outline-out:before{
    content: '';
    position: absolute;

    border: solid 1px;
    border-color: lightseagreen;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
  }

/*-------------------------------------------------------------------------------*/

  /*ANIMAÇÃO NO CIRCULO DE MATÉRIAS TIPO: 2*/

.hvr-outline2-out:hover:before, .hvr-outline2-out:focus:before, .hvr-outline2-out:active:before {
    top: -32px;
    right: -32px;
    bottom: -32px;
    left: -32px;
  }
.hvr-outline2-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
  }
  .hvr-outline2-out:before{
    content: '';
    position: absolute;

    border: solid 1px;
    border-color: lightseagreen;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
  }
div#mask {
    width: 100vw;
   z-index: 2;
   position: fixed;
   transition: all .5s;
   height: 110%;
   background-color: rgba(48, 48, 48, .7);
   display: none;


}
div#pop-up {
    display: initial;
    z-index: 2;
    transition: all .6s;

    width: 700px;
    height: 1000px;
    position: absolute;
     display: none;
     background-image: linear-gradient(to right bottom, #4971f5, #3fbfdb);
    
    top: 23%;
     
     left: 15%;
     
     box-shadow: 10px 10px 85px -5px rgba(0,0,0,0.75);
     border-radius: 20px;
     transition: all .7s;
}
#pop-up h2 {
    font-family: 'Krub', sans-serif;
    color: rgb(199, 199, 199);
    font-size: 36pt;
    margin-bottom: 57px;
}
#pop-up a {
    position: absolute;
    bottom: 10px;
    color :white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
   right: 50px;
}
#pop-up a:hover {
    text-decoration: underline;
}
#close {
    text-align: center;
     height: 25px;
     width: 25px;
     position: absolute;
    

    z-index: 105;
    cursor: pointer;
    color: white;
    top: 0px;
    right: -25px;
    font-family: "Krub", sans-serif;
    font-size: 70pt;
    transition: all .6s;
    }
    #close:hover {
      color: red;
    }
p {
    display: inline-block;
    margin-left: 10px;
}
#nota1, #nota2 {
    margin-left: 30px;

    color: white;
    font-size: 11pt;
    text-align: center;


}
.row {
    margin-top: 9px;
}
.row label {
    font-size: 50.7pt;
    z-index: -20;
}
.row #label2, .row #label1 {
    margin-left: -14px;
}
#shownoots {
    display: none;
}
#line_bottom {
    width: 75%;
    height: 1px;
    background-color:rgba(190, 180, 100, 0.7);
    z-index: 50;
    margin-top: 37px;
    margin-bottom: 47px;
}

/* MATERIA NAO APARECE, */
.field1 {

    display: none;

}
.field3 {
    margin-top: 10px;

}
.field5 {
display: none;
}
.btn waves-effect waves-light {
    cursor: pointer;
    padding: 30px;
    font-size: 60pt;

}
label {
    font-size: 30pt;
}
.field2 label, .field3 label {
    font-size: 33pt;
    color: #cecece;
    font-family: 'Roboto';
}
.ui-loader-header {
  display: none;
}

section.menu-left {
 
    top: 0%;
      width: 55%;
      height: 130vh;
      background-image: linear-gradient(to right, #424242, transparent);
     position: fixed;
     display: initial;
     left: -300px;
     transition: all .7s;
  }
.menu-left div {
    background-color: aqua;
    width: 129px;
    height: 129px;
    border-radius: 100%;
    margin-bottom: 20%;
    margin-left: 50%;
  }
#circlemenu {
    position: fixed;
    width: 128px;
    height: 128px;
    background-color: rgba(0,0,0, .08);
    border-radius: 100%;
    top: 42%;
    left: 4%;
    z-index: 100;
    transition: all .5s;
    background-image: url('icons/menu.png');
    background-size: 128px 128px;
    opacity: .5;
    
    
  }
  #link {
    display: initial;
  }
  #circlematerias {
    
    background-color: rgba(255, 5, 5, 0.9);
    background-image: url(icons/materias.png);

    background-repeat:no-repeat;
    background-size: 60%;
    background-position: center;

    
    
   
   
    margin-top: 191px;
    margin-left: 25%;
    
    position: absolute;
     transition: all .9s;
   
  }
  #circlematerias div, #circlenoots div, #circlelownoots div {
    display: none;
  }
  #circlenoots {
    background-image: url(icons/noots.png);
    background-repeat:no-repeat;
    background-size: 60%;
    background-position: center;

    margin-left: 25%;
    margin-top: 33%;
    background-color: dimgrey;
    transition: all .9s;
   
  }
  #circlelownoots {
    background-color: darkorange;
    margin-top: -41.4%;
    margin-left: 25%;
    transition: all .9s;
    background-image: url(icons/lownoots.png);
    background-repeat:no-repeat;
    background-size: 60%;
    background-position: center;
    
  }
  
  #circlelownoots div {
    display: none;
  }
  #fixed {
    position: fixed;
    width: 50%;
    top: 30%;
    height: 30%;
  }
#hideli {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, .05);
    position: fixed;
    top:0;
    display: none;

}
div#teste {
    font-size: 16pt;
    font-family: 'Roboto';
    padding: 20px;
   
   
}